.vscode/
.github
*__pycache__*
_input/*
_output/*
_temp

readme.txt

ai/inputs/
ai/tests/
*.pth

env_vai
env_docker_vai
env_docker_local

ai/datasets
ai/images
ai/notebooks
ai/test
ai/docs
ai/recipes

